@font-face {
    font-family: Bogart;
    src: url('../assets/fonts/Bogart-Black-trial.ttf') format('truetype');
}

body {
    background-color: #f8eac4;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 90%;
    margin: 100px auto;
    max-width: 1000px;
}
h1 {
    font-family: Bogart, sans-serif;
    color: #f0832b;
    font-size: 60px;
    margin: 0;
}
h2 {
    font-family: Bogart, sans-serif;
    margin-bottom: 10px;
}
#ticket-section {
    color: white;
    width: 90%;
    margin: 0 auto;
    background-color: #201E50;
    text-align: left;
    padding: 10px 20px;
    border-radius: 20px;
}