#checkout-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#checkout-item img {
    width: 200px;
    max-width: 45%;
    height: auto;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
divider {
    display: block;
    height: 2px;
    background-color: black;
    margin: 40px 0;
}