header {
    height: 40vh;
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header-links {
    width: 50%;
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#header-links a {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
}
#header-links a:hover {
    text-decoration: underline;
}
#header-name, #header-location, #header-mobile {
    font-family: 'ITC Garamond', sans-serif;
    width: 25%;
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#header-mobile {
    display: none;
}
#header-name p, #header-location p, #header-mobile p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    header {
        height: 30vh;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        padding: 32px 5%;
    }

    #main-header {
        height: calc(70vh - 100px);
        margin: 0 0 60px 0;
        padding: 0 5% 0;
    }
    #main-header-title {
        flex-direction: column;
    }
    #main-header-title h1 {
        width: 100%;
        text-align: left;
    }

    #header-location, #header-name {
        display: none;
    }
    #header-mobile {
        display: flex;
        flex-direction: column;
        justify-content: baseline
    }
}