@font-face {
    font-family: 'ITC Garamond';
    src: url('../assets/fonts/ITC\ Garamond\ Std\ Light\ Narrow.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Coolvetica';
    src: url('../assets/fonts/Coolvetica Rg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    height: 40vh;
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header-links {
    width: 50%;
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#header-links a {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
}
#header-links a:hover {
    text-decoration: underline;
}
#header-name, #header-location, #header-mobile {
    font-family: 'ITC Garamond', sans-serif;
    width: 25%;
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#header-mobile {
    display: none;
}
#header-name p, #header-location p, #header-mobile p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
/* MAIN SECTION */
#main-header {
    position: relative;
    width: 90%;
    margin: 0 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    padding: 0 5%;
    height: 55vh;
}
#main-header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main-mansion-left, #main-mansion-right {
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(30px, 10vw, 150px);
    line-height: 0.85;
    letter-spacing: -2px;
    margin: 8px 0 0 0;
    width: 100%;
}
#main-mansion-right {
    text-align: right;
}

main {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 400px;
}
.nav-category-spacer {
    position: relative;
    min-height: 60vh;
}
.nav-category {
    position: sticky;
    top: 50px;
    margin-bottom: 150px;
}
.nav-category-mobile {
    display: none;
}
.nav-category a {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}
.nav-category a:hover {
    text-decoration: underline;
}
main nav {
    width: 30%;
    padding: 0 0 0 5%;
    container-type: inline-size;
    position: relative;
}
main nav h3 {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: clamp(30px, 10cqw, 20cqw);
    margin: 0;
    line-height: 0.85;
}
main nav p {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 20px 0 0 0;
}
main #main-navaside {
    width: 70%;
    margin: 0 5% 0 0;
}

#about {
    width: 90%;
    margin: 300px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    font-size: 20px;
}
#about-title {
    width: 50%;
    text-align: right;
    font-family: 'ITC Garamond', sans-serif;
    font-weight: 600;
}
#about-subtitle {
    width: 25%;
    text-align: right;
    font-family: 'ITC Garamond', sans-serif;
    font-weight: 100;
}
#about-text {
    width: 25%;
    text-align: right;
    font-family: 'ITC Garamond', sans-serif;
    font-weight: 100;
}

#contacts {
    height: 20vh;
    width: 90%;
    margin: 300px auto 200px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#contacts-title {
    width: 50%;
    text-align: right;
    font-family: 'ITC Garamond', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
#contacts-subtitle {
    width: 25%;
    text-align: right;
    font-family: 'ITC Garamond', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
#contacts-info {
    width: 25%;
    text-align: right;
    font-family: 'ITC Garamond', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
#contacts-info a {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 20px 0;
}
#contacts-info a:hover {
    text-decoration: underline;
}

/* PROJECTS SECTION */
.project-group {
    display: block;
    overflow: hidden
}
.project-card {
    width: 100%;
    margin-bottom: 150px;
}
.project-label-intro {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 0;
}
.project-new-title {
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(30px, 10vw, 150px);
    line-height: 0.85;
    margin: 0;
}
.project-new-subtitle {
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(20px, 4vw, 80px);
    line-height: 0.85;
    margin: 0;
}
.project-label-description {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 20px 0 40px;
}
.project-card img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    header {
        height: 30vh;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        padding: 32px 5%;
    }

    #main-header {
        height: calc(70vh - 100px);
        margin: 0 0 60px 0;
        padding: 0 5% 0;
    }
    #main-header-title {
        flex-direction: column;
    }
    #main-header-title h1 {
        width: 100%;
        text-align: left;
    }

    #header-location, #header-name {
        display: none;
    }
    #header-mobile {
        display: flex;
        flex-direction: column;
        justify-content: baseline
    }

    main {
        flex-direction: column;
        margin-top: 120px;
        gap: 0;
    }
    main nav {
        width: 90%;
        padding: 0 5%;
    }
    .nav-category-spacer {
        min-height: 0 !important;
    }
    .nav-category {
        display: none;
    }
    .nav-category-mobile {
        display: block;
        position: static;
        margin-bottom: 60px;
    }
    .nav-category-mobile h3 {
        font-family: 'ITC Garamond', sans-serif;
        text-decoration: none;
        display: block;
        color: black;
        font-size: clamp(30px, 10cqw, 20cqw);
        margin: 0;
        line-height: 0.85;
        }
        .nav-category-mobile p {
        font-family: 'ITC Garamond', sans-serif;
        text-decoration: none;
        display: block;
        color: black;
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    main #main-navaside {
        width: 90%;
        margin: 0;
        padding: 0 5%;
    }
    .project-card {
        margin-bottom: 80px;
    }
    .project-card img {
        height: 45vh;
    }

    #about, #contacts {
        flex-direction: column;
        height: auto;
        gap: 16px;
        margin: 120px auto 0 auto;
    }
    #contacts {
        margin-bottom: 100px;
    }
    #about-title, #about-subtitle, #about-text,
    #contacts-title, #contacts-subtitle, #contacts-info {
        width: 100%;
    }
    #contacts-info, #contacts-info a {
        overflow-wrap: break-word;
    }
}