#main-mansion-left, #main-mansion-right {
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(30px, 10vw, 150px);
    line-height: 0.85;
    letter-spacing: -2px;
    margin: 8px 0 0 0;
    width: 100%;
}
#main-mansion-right {
    text-align: right;
}

main {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 400px;
}
.nav-category-spacer {
    position: relative;
    min-height: 60vh;
}
.nav-category {
    position: sticky;
    top: 50px;
    margin-bottom: 150px;
}
.nav-category-mobile {
    display: none;
}
.nav-category a {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}
.nav-category a:hover {
    text-decoration: underline;
}
main nav {
    width: 30%;
    padding: 0 0 0 5%;
    container-type: inline-size;
    position: relative;
}
main nav h3 {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: clamp(30px, 10cqw, 20cqw);
    margin: 0;
    line-height: 0.85;
}
main nav p {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 20px 0 0 0;
}
main #main-navaside {
    width: 70%;
    margin: 0 5% 0 0;
}

/* PROJECTS SECTION */
.project-group {
    display: block;
    overflow: hidden
}
.project-card {
    width: 100%;
    margin-bottom: 150px;
}
.project-label-intro {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 0;
}
.project-new-title {
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(30px, 10vw, 150px);
    line-height: 0.85;
    margin: 0;
}
.project-new-subtitle {
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(20px, 4vw, 80px);
    line-height: 0.85;
    margin: 0;
}
.project-label-description {
    font-family: 'ITC Garamond', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    margin: 20px 0 40px;
}
.project-card img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        margin-top: 120px;
        gap: 0;
    }
    main nav {
        width: 90%;
        padding: 0 5%;
    }
    .nav-category-spacer {
        min-height: 0 !important;
    }
    .nav-category {
        display: none;
    }
    .nav-category-mobile {
        display: block;
        position: static;
        margin-bottom: 60px;
    }
    .nav-category-mobile h3 {
        font-family: 'ITC Garamond', sans-serif;
        text-decoration: none;
        display: block;
        color: black;
        font-size: clamp(30px, 10cqw, 20cqw);
        margin: 0;
        line-height: 0.85;
        }
        .nav-category-mobile p {
        font-family: 'ITC Garamond', sans-serif;
        text-decoration: none;
        display: block;
        color: black;
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    main #main-navaside {
        width: 90%;
        margin: 0;
        padding: 0 5%;
    }
    .project-card {
        margin-bottom: 80px;
    }
    .project-card img {
        height: 45vh;
    }
}