body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
.label-pangaia {
    font-family: 'PP-Pangaia', serif;
    font-size: 1.5vw;
    font-weight: 100;
    text-align: center;
}
.label-coolvetica {
    font-family: 'Coolvetica', sans-serif;
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}
#title-label-portfolio {
    font-family: 'PP-Pangaia', serif;
    font-size: 3vw;
    text-align: center;
}