@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DMSans-Variable.ttf') format('truetype');
}
@font-face {
    font-family: 'DM Serif';
    src: url('../assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(45deg, #F1EDEA 0%, #F9EFE7 100%);
    color: #897062;
}

main {
    width: 95%;
    margin: 0 auto;
    max-width: 600px;
}

header {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 600px;
}
header h1 {
    font-size: 12px;
}
header img {
    width: 20px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

#background-gradient {
    width: 100%;
    height: 30vh;
    background: radial-gradient(
        ellipse 100% 30vh at top left,
        #FEBE98 0%,
        #FDCBAB 40%,
        #FCE0D2 70%,
        #FFFFFF 100%
    );
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#plan-title {
    margin: 0 0 50px 0;
    font-weight: 200;
    font-family: 'DM Sans', serif;
    font-size: 40px;
}
#user-name {
    margin: 50px 0 0 0;
    margin: 0;
    font-weight: 200;
    font-family: 'DM Sans', serif;
    font-size: 18px;
}

.plan-card {
    background-color: #706677;
    border-radius: 30px;
    width: 100%;
    height: 20vh;
    margin: 5px 0;
    overflow: hidden;
    color: #FFFFFF;
    transition: height 0.3s ease;
}
#plan-card-opened {
    background-color: white;
    color: #897062;
    height: auto;
}
.plan-card-header {
    width: 100%;
    height: 100%;
    position:relative;
}
.plan-card-header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: 0;
}
.plan-card-header p {
    margin: 0;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #FFFFFF;
}
.plan-section-left {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0;
}
.workout-icon {
    margin-top: -40px;
    width: auto;
    height:auto;
    max-height: 135px;
    object-fit: contain;
}
.expand-chevron {
    width: 20px;
    height: auto;
    object-fit: contain;
}
.plan-card-content {
    width: calc(100% - 40px);
    padding: 20px;
}
.plan-card-content video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #FEBE98;
}
.plan-name {
    font-size: 25px;
    font-weight: 200;
    margin: 0;
    line-height: 1.1;
}
.plan-duration {
    font-size: 15px;
    font-weight: 200;
    margin: 20px 0 0 0;
}
#plan-card-opened .plan-card-header {
    display: none;
}
.plan-card-content {
    display: none;
}
.exercise-title {
    font-size: 30px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0;
}
.exercise-duration {
    margin-top: 25px;
}
.exercise-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.exercise-footer-week, .exercise-footer-weight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exercise-footer-week .counter-value {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    background-color: #897062;
    color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.exercise-footer-week .counter-label, .exercise-footer-weight-label {
    font-weight: 200;
    margin-top: 10px;
}
.exercise-footer-weight-top {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.exercise-footer-weight-top .step-value {
    font-size: 25px;
    margin: 0 10px;
}
.exercise-footer-weight-top .step-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #897062;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
    padding: 0;
}